.header {
  display: flex;
  justify-content: flex-start;

  margin: 20px auto;
  border-bottom: 1px solid #545454;
  max-width: 905px;
}

.header__image {
  margin: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 605px) {
  .header {
    margin: 20px 20px;
  }
}

@media screen and (min-width: 606px) and (max-width: 905px) {
  .header {
    margin: 20px 20px;
  }
}
