.popup {
  display: none;
}

.popup__opened {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.popup__container {
  max-width: 430px;
  max-height: 330px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.popup__button_close {
  cursor: pointer;
  align-self: flex-end;

  font-size: 40px;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);

  max-width: 40px;
  max-height: 40px;
}

.popup__button_close:hover {
  opacity: 80%;
}

.popup__form {
  padding: 34px 36px;
  row-gap: 30px;
  display: flex;
  flex-direction: column;

  background-color: #fff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px;
}

.popup__title {
  margin: 0;
  color: #000;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}

.popup__input {
  max-width: 100%;

  border: 0;
  border-bottom: 1px solid #000;

  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.popup__input:invalid {
  border-bottom: 1px solid #ff0000;
}

.popup__button_save {
  cursor: pointer;

  height: 50px;

  background: #000000;
  border-radius: 5px;

  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.popup__button_save:hover {
  opacity: 80%;
}

.popup__button_save:disabled {
  opacity: 20%;
  border: 1px solid #000000;
  cursor: not-allowed;
}

/* Agregamos la clase para el boton disabled */
.popup__button_disabled {
  opacity: 20%;
  border: 1px solid #000000;
  cursor: not-allowed;
}

.popup__input_name-error,
.popup__input_occupation-error,
.popup__input_url-error,
.popup__input_title-error {
  color: red;
  border-color: #f44336;
}

.popup__form-content {
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 20px;
}

.popup__button_add {
  cursor: pointer;

  height: 50px;

  background: #000000;
  border-radius: 5px;

  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}

.popup__button_add:hover {
  opacity: 80%;
}

.popup__button_add:disabled {
  opacity: 20%;
  border: 1px solid #000000;
  cursor: not-allowed;
}

.popup__hidden {
  display: none;
}

.popup__images {
  max-width: 430px;
  max-height: 450px;
  background-color: rgba(0, 0, 0, 0);
}

.popup__image {
  max-width: 430px;
  max-height: 450px;
  width: 100%;
  height: 100%;
  display: flex;
}

.popup__text-content {
  color: #fff;
}

.popup__text {
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

@media screen and (max-width: 605px) {
  .popup__container {
    max-width: 280px;
  }
  .popup__title {
    font-size: 18px;
  }
  .popup__button_add {
    font-size: 14px;
  }
}
